/* TE22E Simon Zettergren */

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: sans-serif;
}

.top {
	display: flex;
	flex-direction: column;
	align-items: center;

	background-color: #35424a;
	color: white;
	border: 3px solid yellow;
	border-style: none none solid none;
}

.top a {
	color: white;
	text-decoration: none;

	margin: 0 15px;
}
